.autocomplete__dropdown-arrow-down-wrapper {
    position: absolute;
    top: 5px;
    right: 10px;
}

.das-search-form__group .autocomplete__input {
    height: 40px;
}

@media (min-width: 40.0625em) {
    .autocomplete__wrapper {
        width: 66%;
    }
    .das-search-form__group .autocomplete__wrapper {
        width: 100%;
    }
}