@{
    ViewData["Title"] = "Not Implemented Yet";
    ViewBag.GaData.Vpv = "/error";
}

    <h1 class="govuk-heading-xl">Not Implemented Yet</h1>
<p class="govuk-body">This feature has not yet been implemented.</p>