@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.ChangeStartDateViewModel

@{
    ViewData["Title"] = "New training start date";
    ViewBag.GaData.Vpv = "/apprentices/apprentice/details";
}

<h1>New training start date</h1>

