@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.DetailsViewModel

@{
    ViewData["Title"] = "Apprentice Details";
}


<h1 class="govuk-heading-xl">@Model.Name</h1>


@*https://localhost:5001/10005077/apprentices/4MBBNM*@

@*<div class="govuk-grid-row govuk-!-margin-bottom-2">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Apprentice</h2>
    </div>
    <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet">
        <a href="#" class="govuk-link">Edit apprentice</a>
    </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--visible">
    <table class="govuk-table">
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">Chris</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">12th September 1917</td>
        </tr>
        </tbody>
    </table>*@
