@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.DetailsViewModel
@using SFA.DAS.ProviderCommitments.Web.RouteValues
@using SFA.DAS.ProviderCommitments.Enums;

@{
    ViewData["Title"] = "Apprentice Details";
    ViewBag.GaData.Vpv = "/apprentices/apprentice/details";
    ViewBag.GaData.Org = Model.Employer;   
}

@if (Model.LearningType == LearningType.ApprenticeshipUnit)
{
    <partial name="DetailsPartials/_ViewApprenticeUnitDetails" />
}
else
{
    <partial name="DetailsPartials/_ViewApprenticeDetails" />
}

@section breadcrumb {
    <a id="back-link" class="govuk-back-link" href="@Url.RouteUrl(@RouteNames.ApprenticesIndex, new {Model.ProviderId, FromSearch = true})">Back</a>
}