@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.ProviderCommitments.Infrastructure.OuterApi.Types
@using SFA.DAS.ProviderCommitments.Web.RouteValues
@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.SelectDeliveryModelViewModel

@{
    ViewData["Title"] = "Apprenticeships";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <h1 class="govuk-heading-xl">Select the apprenticeship delivery model</h1>

        <form id="selectDeliveryModel" novalidate method="post">
            @Html.HiddenFor(x => x.CacheKey)
            
            <partial name="_SelectDeliveryModelPartial" />
            
            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>

@section breadcrumb
{
    @{
        var backRoute = Model.IsEdit ? RouteNames.ApprenticeConfirm : RouteNames.ApprenticeConfirmEmployer;
        var backModel = new
        {
            Model.CacheKey,
            Model.ProviderId,
            Model.ApprenticeshipHashedId
        };
    }

    <a id="back-link" class="govuk-back-link" href="@Url.RouteUrl(backRoute, backModel)">Back</a>
}
