@{
    ViewData["Title"] = "Internal server error - Error 500";
    ViewBag.GaData.Vpv = "/error/500";
}

<h1 class="govuk-heading-xl">An error has occurred</h1>
<p class="govuk-body">This error has been logged and will be investigated.</p>