@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.DetailsViewModel
@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.Apprenticeships.Types

@{
    var learnerStatusTagClass = Model.LearnerStatus switch
    {
        LearnerStatus.WaitingToStart => "govuk-tag--green",
        LearnerStatus.InLearning => "govuk-tag--blue",
        LearnerStatus.Completed => "govuk-tag--blue",
        LearnerStatus.BreakInLearning => "govuk-tag--red",
        LearnerStatus.Withdrawn => "govuk-tag--red",
        LearnerStatus.None => "govuk-tag--blue",
        _ => "govuk-tag--blue" // default
        };
}

@if (Model.IsOnFlexiPaymentPilot.GetValueOrDefault())
{
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header das-table-cell-width-45">Learner Status</th>
        <td id="apprenticeship-learner-status" class="govuk-table__cell das-table-cell-width-55">
            <strong class="govuk-tag @learnerStatusTagClass">@Model.LearnerStatus.GetDescription()</strong>
        </td>
    </tr>
}
else
{
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header das-table-cell-width-45">Status</th>
        <td id="apprenticeship-status" class="govuk-table__cell das-table-cell-width-55">
            @Model.Status.GetDescription()
        </td>
    </tr>
}