@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.DetailsViewModel

<div id="change-of-startdate-request-sent-banner" class="govuk-notification-banner govuk-notification-banner--success">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            Request to change the training date sent to employer
        </h3>
        <p class="govuk-body">The employer now needs to approve the change.</p>
        <p class="govuk-body">
            <a id="linkViewPendingStartDateBanner" asp-external-controller="" asp-external-subdomain="apprenticeshipdetails" asp-external-relativeroute="@Model.PendingStartDateChangeRoute" class="govuk-link">Price changes you've requested</a>
        </p>
    </div>
</div>