@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.DetailsViewModel

    <div class="das-notification" id="das-changeofparty-links-div" tabindex="-1">

        @if (Model.HasApprovedChangeOfPartyRequest && Model.IsContinuation)
        {
            <p class="das-notification__body">
                This apprentice moved employers during their apprenticeship.
            </p>
        }
        else if (Model.HasApprovedChangeOfPartyRequest)
        {
            <p class="das-notification__body">
                This apprentice moved to a new employer with a new record created.
            </p>
        }
        else if (Model.IsContinuation)
        {
            <p class="das-notification__body">
                This apprentice moved employers during their apprenticeship.
            </p>
        }


        @if (!string.IsNullOrWhiteSpace(Model.EncodedNewApprenticeshipId))
        {
            <p class="das-notification__body">
                <a id="continuation-link" class="govuk-link" href="@Url.Action("Details", new {Model.ProviderId, ApprenticeshipHashedId = Model.EncodedNewApprenticeshipId})">View the new apprentice record</a>
            </p>
        }

        @if (!string.IsNullOrWhiteSpace(Model.EncodedPreviousApprenticeshipId))
        {
            <p class="das-notification__body">
                <a id="previous-apprentice-link" class="govuk-link" href="@Url.Action("Details", new {Model.ProviderId, ApprenticeshipHashedId = Model.EncodedPreviousApprenticeshipId})">View the old apprentice record</a>
            </p>
        }
    </div>