<details id="change-of-employer-details" class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with changes to apprentice's employer
        </span>
    </summary>
    <div class="govuk-details__text">        
        <p>            
                This apprentice is part of the Payments Simplification private Beta, which does not yet support changes to employer.
                To do this change you need to contact us at <a class="govuk-link" href="mailto:payments.beta@education.gov.uk">payments.beta@education.gov.uk</a>.
                We aim to respond within 5 working days.            
        </p>
    </div>
</details>