@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.DetailsViewModel

<div class="govuk-inset-text">                                
    This apprentice is part of the Payment Simplification private Beta.
</div>

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help making changes to this apprenticeship
        </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">
            As part of the Payment Simplification private Beta you can change the
            start date and change the price for apprenticeships.<br/>
            <br/>
            For further help making changes contact us at
            <a class="govuk-link" href="mailto:payments.beta@education.gov.uk">payments.beta@education.gov.uk</a>. This inbox is monitored from 9am
            to 5pm Monday to Friday, we will aim to respond within 24 hours.
        </p>
    </div>
</details>

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with your apprentice's overdue confirmation
        </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">
            If your apprentice has not confirmed their apprenticeship details within
            the 14 day deadline, you should:
                        
            <ul>
                <li>
                    contact the apprentice to complete their apprenticeship
                    confirmation
                </li>
                Or
                <li>
                    contact the apprentice's employer to ask the apprentice to
                    complete their apprenticeship confirmation
                </li>
            </ul>
        </p>
    </div>
</details>