@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.DetailsViewModel

<p class="govuk-notification-banner__heading">
    <span id="das-pendingUpdate-div-body-text">The employer has made a change which needs to be reviewed and approved by you. </span>
    <a href="@Url.Action("ReviewApprenticeshipUpdates", new { Model.ProviderId, Model.ApprenticeshipHashedId })" class="govuk-link" id="das-pendingUpdate-div-review-link">Review changes</a>
</p>