@*
    This is displayed when the employer has requested a change of price and the provider has not yet approved or rejected the request
*@

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
	<div class="govuk-notification-banner__header">
		<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
			Important
		</h2>
	</div>
	<div class="govuk-notification-banner__content">
		<p class="govuk-notification-banner__heading">
			The employer has requested a change. You need to review and approve the request.
		</p><ul class="govuk-list govuk-list--bullet">
			<li>
				A change to the total agreed apprenticeship price has been requested.
			</li>

		</ul>
		<a id="linkBannerViewPendingPrice" asp-external-controller="" asp-external-subdomain="apprenticeshipdetails"
		   asp-external-relativeroute="@Model.PendingPriceChangeRoute" class="govuk-link">
			Review price change requested
		</a>
		<p></p>
	</div>
</div>