@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.DetailsViewModel

<div class="das-notification" id="das-pendingUpdate-div" tabindex="-1">
    <p class="das-notification__body" id="das-pendingUpdate-div-body-text">There are changes to this apprentice's details that are waiting for approval by the employer.</p>
    <p class="das-notification__body" id="das-pendingUpdate-div-undo-link"><a href="@Url.Action("ViewApprenticeshipUpdates", new { Model.ProviderId, Model.ApprenticeshipHashedId })" class="govuk-link">View changes</a></p>
</div>
