@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.DetailsViewModel

<div id="change-of-price-auto-approved-banner" class="govuk-notification-banner govuk-notification-banner--success">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            Training and end-point assessment prices have been updated
        </h3>
    </div>
</div>