@model SFA.DAS.ProviderCommitments.Web.Models.Cohort.BeforeYouContinueViewModel

@{
    ViewBag.Title = "Before you continue";
    ViewBag.ZendeskLabel = "add-apprentice-before-you-continue";
    ViewBag.GaData.Vpv = "/unapproved/add/before-you-continue";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="govuk-form-group">
                <h1 class="govuk-heading-l">Before you continue</h1>
                <h2 class="govuk-heading-m">Check your permissions</h2>

                <p class="govuk-body">You must have the employer’s permission to add apprentices.</p>
                <p class="govuk-body">Check or update permissions in <a asp-external-subdomain="relationships" asp-external-id="@Model.ProviderId" asp-external-controller="employers" target="_blank" class="govuk-link">View and manage employer permissions</a>.</p>
                <p class="govuk-body">
                    If you do not have permission, ask the employer to create a cohort for you.
                </p>

                <h2 class="govuk-heading-m">Check your ILR file</h2>
                <p class="govuk-body">
                    Make sure the ILR file includes:
                </p>


                <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-4">
                    <li>
                        the employer agreement ID - you’ll find this in <a asp-external-subdomain="relationships" asp-external-id="@Model.ProviderId" asp-external-controller="employers" target="_blank" class="govuk-link">
                            View employers and manage permissions
                        </a>
                    </li>
                    <li>a unique email address for each learner</li>
                </ul>

                <h2 class="govuk-heading-m">Funding</h2>
                <h3 class="govuk-heading-s">Reservations</h3>
                <p class="govuk-body">
                    If you’ve reserved funds and you’re only adding one apprentice, you’ll get the option to choose an existing
                    reservation
                    or reserve new funds.
                </p>
                <p class="govuk-body govuk-!-margin-bottom-6">
                    If no reservations are set up or you’re adding multiple apprentices, funds will be automatically be reserved for
                    you.
                </p>
                <h3 class="govuk-heading-s">Transfers</h3>
                <p class="govuk-body">
                    If you are using transfer funding, your employer will need to set up a cohort and send it to you first.
                </p>

                <h2 class="govuk-heading-m">Steps to follow</h2>
                <p class="govuk-body">
                    After submitting your ILR file, allow 15 minutes for records to update in this service. Then follow these steps:
                </p>

                <ol class="govuk-list govuk-list--number">
                    <li>Choose whether to create a new cohort or add to an existing one.</li>
                    <li>Choose the employer.</li>
                    <li>Select the learners.</li>
                    <li>Add recognition of prior learning (RPL) and standard options, if relevant.</li>
                </ol>

                <p class="govuk-body">
                    The <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/articles/360009492540-Add-an-apprentice-or-change-their-status" target="_blank" class="govuk-link">Add an apprentice or change their status help page</a> has more information.
                </p>
                <br>

            </div>
            <button class="govuk-button" type="submit" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href=@Url.Action("SelectDraftApprenticeshipsEntryMethod", new { Model.ProviderId })>Back</a>
}