@model SFA.DAS.ProviderCommitments.Web.Models.Cohort.CohortsViewModel

@{
    ViewBag.Title = "Apprentice requests";
    ViewBag.GaData.Vpv = "/unapproved";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-width-container">
            @if (!Model.IsAgreementSigned)
            {
                <div class="govuk-inset-text das-inset-text--filled das-inset-text--highlight">
                    Your organisation must have a signed <a id="agreementDetailsLink" target="_blank" href="https://skillsfunding.service.gov.uk/contracts">Education and Skills Funding Agency apprenticeship agreement</a>
                    before you can approve apprentice requests.
                </div>
            }
            <h1 class="govuk-heading-xl">Apprentice requests</h1>
            <div class="das-cards das-cards--bingo">
                @await Html.PartialAsync("_CardLink", Model.CohortsInReview)
                @await Html.PartialAsync("_CardLink", Model.CohortsWithEmployer)
                @if (Model.ShowDrafts)
                {
                    @await Html.PartialAsync("_CardLink", Model.CohortsInDraft)
                }
                @await Html.PartialAsync("_CardLink", Model.CohortsWithTransferSender)
            </div>
        </div>
    </div>
</div>

@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href="@Url.ProviderApprenticeshipServiceLink("account")">Back</a>
}