@{
    ViewBag.Title = "File Discard Success";
    ViewBag.GaData.Vpv = "/bulk-upload/success-discard-file";
}


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    File upload cancelled
                </h1>
            </div>

            <p class="govuk-body">No new cohorts or apprentices have been uploaded into the service.</p>

            <h2 class="govuk-heading-m">What happens next</h2>

            <ul class="govuk-list">
                <li><a href="index" class="govuk-link">Go to homepage</a></li>
                <li><a href="manual-or-upload" class="govuk-link">Add more apprentices</a></li>
            </ul>
        </div>
    </div>
   