@using SFA.DAS.ProviderUrlHelper
@inject ILinkGenerator LinkGenerator;
@model SFA.DAS.ProviderCommitments.Web.Models.Cohort.FileUploadStartViewModel

@{
    ViewData["Title"] = "Add Apprentice";
    ViewBag.GaData.Vpv = "/unapproved/add/file-upload/start";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ValidationSummary" />
            <form method="post" enctype="multipart/form-data">
                <h1 class="govuk-heading-xl">Upload a CSV file</h1>
                <div class="govuk-form-group govuk-!-margin-top-6">
                    <label class="govuk-label" for="file-upload-1">
                        Your CSV file should not have more than 100 rows
                    </label>

                    @Html.ValidationMessageFor(m => m.Attachment, null, new { id = "error-message-" + Html.IdFor(m => m.Attachment) })
                    <input class="govuk-file-upload" id="attachment" accept=".csv" type="file" name="@Html.NameFor(m => m.Attachment)">
                </div>

                <input class="button govuk-button" data-module="govuk-button" type="submit" value="Continue" id="submit-upload-apprentices">
            </form>
        </div>
    </div>
</div>

@section breadcrumb
{
<a id="back-link" class="govuk-back-link" href="@Url.Action("FileUploadInform", new { @Model.ProviderId })">Back</a>
}
