@{
    ViewData["Title"] = "No Declared Standards";
    ViewBag.GaData.Vpv = "/error";
}

<h1 class="govuk-heading-xl">You must tell us about the Standards you deliver before you can submit any cohorts.</h1>
<p class="govuk-body">You need to contact a member of the support team on 0800 015 060 to add your Standards. Telephone lines are open 8am to 8pm Monday to Friday.'</p>


