@{
    ViewData["Title"] = "No Declared Standards";
    ViewBag.GaData.Vpv = "/error";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You must tell us about the Standards you deliver before you can submit any cohorts.</h1>
        <p class="govuk-body">You need to contact a member of the support team on <strong>0800 015 060</strong> to add your Standards. Telephone lines are open <strong>8am to 8pm Monday to Friday</strong>.</p>
    </div>
</div>