@inject ILinkGenerator LinkGenerator
@inject IConfiguration Configuration;
@model SFA.DAS.ProviderCommitments.Web.Models.Cohort.SelectAddDraftApprenticeshipJourneyViewModel

@{
    ViewBag.Title = "Add Learner";
    ViewBag.ZendeskLabel = "add-apprentice-entry-method";
    ViewBag.GaData.Vpv = "/unapproved/add/entry-method";
    var ilrFeaturesEnabled = Configuration.GetValue<bool>("ILRFeaturesEnabled");
    var ilrSelectMultipleFeatureEnabled = Configuration.GetValue<bool>("ILRSelectMultipleFeatureEnabled");
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <form method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ProviderId)
            @if (ilrSelectMultipleFeatureEnabled)
            {
                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Important
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
                            You can now add multiple learners from ILR
                        </p>
                        <p class="govuk-body">
                            Choose 'Add 1 or more learners from ILR' to view your options.
                        </p>
                    </div>
                </div>
            }
            <div class="govuk-form-group @(ViewContext.ModelState.IsValid ? "" : "govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            How do you want to add learner details?
                        </h1>
                    </legend>
                    @Html.ValidationMessageFor(m => m.Selection, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.Selection) })
                    <div class="govuk-radios">
                        @if (ilrFeaturesEnabled && !ilrSelectMultipleFeatureEnabled)
                        {
                            <div class="govuk-radios__item">
                                <input asp-for="Selection" value="ILR" type="radio" class="govuk-radios__input" id="confirm-ILR"/>
                                <label class="govuk-label govuk-radios__label" for="confirm-ILR">
                                    Choose details from ILR (individual learner record)
                                </label>
                                <div id="upload-csv-hint" class="govuk-hint govuk-radios__hint">For apprenticeships or apprenticeship units</div>
                            </div>
                        }
                        @if (ilrSelectMultipleFeatureEnabled)
                        {
                            <div class="govuk-radios__item">
                                <input asp-for="Selection" value="HowManyLearners" type="radio" class="govuk-radios__input" id="confirm-HowManyLearners" />
                                <label class="govuk-label govuk-radios__label" for="confirm-HowManyLearners">
                                    Add 1 or more learners from ILR (individual learner record)
                                </label>
                                <div id="how-many-learners-hint" class="govuk-hint govuk-radios__hint">For apprenticeships or apprenticeship units</div>
                            </div>
                        }
                        <div class="govuk-radios__item">
                            <input asp-for="Selection" value="BulkCsv" type="radio" class="govuk-radios__input" id="confirm-BulkCsv"/>
                            <label class="govuk-label govuk-radios__label" for="confirm-BulkCsv">
                                Upload a CSV file
                            </label>
                            <div id="upload-csv-hint" class="govuk-hint govuk-radios__hint">
                                For apprenticeships only
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input asp-for="Selection" value="Manual" type="radio" class="govuk-radios__input" id="confirm-Manual"/>
                            <label class="govuk-label govuk-radios__label" for="confirm-Manual">
                                Manually add details
                            </label>
                            <div id="manual-input-hint" class="govuk-hint govuk-radios__hint">
                                For apprenticeships only
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" type="submit" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href=@LinkGenerator.ProviderApprenticeshipServiceLink("account")>Back</a>
}