@using SFA.DAS.ProviderCommitments.Web.Models.OveralppingTrainingDate
@using SFA.DAS.ProviderCommitments.Web.RouteValues
@inject ILinkGenerator LinkGenerator
@model ChangeOfEmployerNotifiedViewModel

@{
    ViewData["Title"] = "Stop date request has been sent";
    ViewBag.GaData.Vpv = "/unapproved/OverlappingTrainingDateRequest/change-of-employer-notified";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Request sent to employer
            </h1>
        </div>
        <p class="govuk-body">
            We’ve sent a request email to the previous employer to change the record.
        </p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
            <li>
                the previous employer has 2 weeks to action the request
            </li>
            <li>
                we will send a reminder to the previous employer in 1 week
            </li>
            <li>
                a draft learner record has been saved but you cannot approve it until the overlapping date has been resolved
            </li>
            <li>
                you will be notified when the record is updated
            </li>
        </ul>

        <div class="govuk-!-margin-bottom-6">

            <a class="govuk-link" href="@LinkGenerator.ProviderApprenticeshipServiceLink("/account")">Return to Dashboard</a>
        </div>
        <a class="govuk-link" href="@Url.RouteUrl(RouteNames.Cohort, new { Model.ProviderId })"> View learner details</a>

    </div>
</div>