@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.ProviderCommitments.Web.Models.OveralppingTrainingDate
@using SFA.DAS.CommitmentsV2.Types;
@model OverlapOptionsForChangeEmployerViewModel

<partial name="@Model.GetTargetPartialViewName()" model="Model"></partial>

    @section breadcrumb
    {
        <div class="das-js-back-link"></div>
    }